.container{
    background-color: white;
    text-align: center;
    flex-direction: column;
    height: 50px;   
}

.title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}